<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Subind" value="SubindexV0.5.2 Modified by oubeichen" />
    <add key="tabBuild" value="Adjust" />
    <add key="tabMerge" value="Mix" />
    <add key="tabOption" value="Option" />
    <add key="tabAbout" value="About" />
    <add key="buildRangeLabel" value="Crop Block" />
    <add key="checkIndex" value="Use Original Index" />
    <add key="adjustTypeLabel" value="Adjust Type" />
    <add key="adjustType0" value="Both" />
    <add key="adjustType1" value="Begin Form" />
    <add key="adjustType2" value="End to" />
    <add key="adjustRangeLabel" value="Adjust Block" />
    <add key="adjustReset" value="Reset" />
    <add key="baseLineLabel" value="Adjust Offset" />
    <add key="merge1Adjustlabel" value="Adjust Offset" />
    <add key="merge2Adjustlabel" value="Adjust Offset" />
    <add key="mergeBoundLabel" value="Mix Offset" />
    <add key="secondTime" value="Use Second TimeLine" />
    <add key="secondFront" value="Second To Top" />
    <add key="capSwitch" value="Switch Cross" />
    <add key="mergeModeLabel" value="Mix Type" />
    <add key="buildOpen" value="Open" />
    <add key="buildOpen0" value="Mix Buffer1" />
    <add key="buildOpen1" value="Mix Buffer2" />
    <add key="buildOpen2" value="Mix Output" />
    <add key="buildOpen3" value="Recent" />
    <add key="buildSave" value="Save" />
    <add key="buildSave0" value="Mix Buffer1" />
    <add key="buildSave1" value="Mix Buffer2" />
    <add key="buildSave2" value="Recent" />
    <add key="mergeOpen1" value="Open" />
    <add key="mergeOpen10" value="Adjust Buffer" />
    <add key="mergeOpen11" value="Recent" />
    <add key="mergeOpen2" value="Open" />
    <add key="mergeOpen20" value="Adjust Buffer" />
    <add key="mergeOpen21" value="Recent" />
    <add key="mergeSave" value="Save" />
    <add key="mergeSave0" value="Adjust Buffer" />
    <add key="mergeSave1" value="Recent" />
    <add key="mergeMode0" value="By Time" />
    <add key="mergeMode1" value="By Block" />
    <add key="mergeMode2" value="Split Joint" />
    <add key="saveDoLabel" value="After Save Do" />
    <add key="cmbSaveDo0" value="ASK" />
    <add key="cmbSaveDo1" value="Open" />
    <add key="cmbSaveDo2" value="No Action" />
    <add key="blogLabel" value="Author Blog: http://blog.csdn.net/redbirdli" />
    <add key="webSiteLabel" value="Software Page: http://code.google.com/" />
    <add key="grpIndex" value="Index Setting" />
    <add key="grpWrap" value="Wrap Option" />
    <add key="grpFormat" value="Display Style" />
    <add key="grpLog" value="Log Output" />
    <add key="grpFileType" value="File Type Registration" />
    <add key="grpAction" value="Action Define" />
    <add key="checkFormat" value="Keep ASS/SSA Original Display Style" />
    <add key="checkUnite" value="Auto Join Line" />
    <add key="uniteSplitLabel" value="Join Line Split" />
    <add key="checkLog" value="Keep Log" />
    <add key="keepUnit" value="Block Alone" />
    <add key="beginIndexLabel" value="Begin From" />
    <add key="ObjectNullText" value="Data not load,please check again" />
    <add key="ObjectNullTitle" value="Open Object" />
    <add key="SaveFileOverWriteText" value=" Have Exist! \r\n OverWrite It?" />
    <add key="SaveFileOverWriteTitle" value="Save As" />
    <add key="OpenFileNoExistText" value="\r\nFile No Exist，please check again" />
    <add key="OpenFileNoExistTitle" value="Open File" />
    <add key="SaveFileSucceedText" value="\r\nFile Saved! Open Now use Notepad?" />
    <add key="SaveFileSucceedTitle" value="File Saved" />
    <add key="ExtendException0" value="File Is Not Valid!" />
    <add key="CaptionParseExceptionText" value="File Is Not Valid!" />
    <add key="CaptionParseExceptionTitle" value="Parse Exception" />
    <add key="MergeTab" value="True" />
    <add key="BuildTab" value="True" />
    <add key="ShowPage" value="2" />
    <add key="BeginIndex" value="1" />
    <add key="UniteLine" value="True" />
    <add key="WrapSplit" value=" " />
    <add key="KeepFormat" value="True" />
    <add key="SavedDoType" value="Nothing" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>