<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Subind" value="火鸟字幕合并器SubindexV0.5" />
    <add key="tabBuild" value="构建" />
    <add key="tabMerge" value="合并" />
    <add key="tabOption" value="选项" />
    <add key="tabAbout" value="关于" />
    <add key="buildRangeLabel" value="构建区块：" />
    <add key="checkIndex" value="使用区块分割前的索引" />
    <add key="adjustTypeLabel" value="校准类型：" />
    <add key="adjustType0" value="两者" />
    <add key="adjustType1" value="字幕起始" />
    <add key="adjustType2" value="字幕结束" />
    <add key="adjustRangeLabel" value="校准区块：" />
    <add key="adjustReset" value="还原校准" />
    <add key="baseLineLabel" value="校准微调：" />
    <add key="merge1Adjustlabel" value="校准微调：" />
    <add key="merge2Adjustlabel" value="校准微调：" />
    <add key="mergeBoundLabel" value="混编偏差：" />
    <add key="secondTime" value="使用第二轨时间" />
    <add key="secondFront" value="第二轨字幕在前" />
    <add key="capSwitch" value="交换字幕" />
    <add key="mergeModeLabel" value="合并方式：" />
    <add key="buildOpen" value="打开" />
    <add key="buildOpen0" value="合并缓冲1" />
    <add key="buildOpen1" value="合并缓冲2" />
    <add key="buildOpen2" value="合并目标区" />
    <add key="buildOpen3" value="刚才的" />
    <add key="buildSave" value="保存" />
    <add key="buildSave0" value="合并缓冲1" />
    <add key="buildSave1" value="合并缓冲2" />
    <add key="buildSave2" value="刚才的" />
    <add key="mergeOpen1" value="打开" />
    <add key="mergeOpen10" value="构建缓冲" />
    <add key="mergeOpen11" value="刚才的" />
    <add key="mergeOpen2" value="打开" />
    <add key="mergeOpen20" value="构建缓冲" />
    <add key="mergeOpen21" value="刚才的" />
    <add key="mergeSave" value="保存" />
    <add key="mergeSave0" value="构建缓冲" />
    <add key="mergeSave1" value="刚才的" />
    <add key="mergeMode0" value="按时间" />
    <add key="mergeMode1" value="按区块" />
    <add key="mergeMode2" value="串行合并" />
    <add key="saveDoLabel" value="保存文件后：" />
    <add key="cmbSaveDo0" value="询问" />
    <add key="cmbSaveDo1" value="查看" />
    <add key="cmbSaveDo2" value="无动作" />
    <add key="blogLabel" value="作者网志: http://blog.csdn.net/redbirdli" />
    <add key="webSiteLabel" value="软件首页: http://linnet.126.com" />
    <add key="grpIndex" value="索引设置" />
    <add key="grpWrap" value="多行选项" />
    <add key="grpFormat" value="显示风格" />
    <add key="grpLog" value="输出日志" />
    <add key="grpFileType" value="注册表关联" />
    <add key="grpAction" value="操作定义" />
    <add key="checkFormat" value="保留ASS/SSA原始显示格式" />
    <add key="checkUnite" value="字幕自动并行" />
    <add key="uniteSplitLabel" value="并行分割符：" />
    <add key="checkLog" value="保留字幕生成日志" />
    <add key="keepUnit" value="区块独立" />
    <add key="beginIndexLabel" value="起始索引号：" />
    <add key="ObjectNullText" value="目前没有加载数据，请重新选择！" />
    <add key="ObjectNullTitle" value="打开对象" />
    <add key="SaveFileOverWriteText" value=" 已存在。\r\n是否要替换它？" />
    <add key="SaveFileOverWriteTitle" value="另存为" />
    <add key="OpenFileNoExistText" value="\r\n文件不存在，请重新确认文件有效性！" />
    <add key="OpenFileNoExistTitle" value="打开文件" />
    <add key="SaveFileSucceedText" value="\r\n文件已保存！是否用记事本打开查看？" />
    <add key="SaveFileSucceedTitle" value="保存成功" />
    <add key="ExtendException0" value="该文件不是合法的字幕格式！" />
    <add key="CaptionParseExceptionText" value="该文件不是合法的字幕格式！" />
    <add key="CaptionParseExceptionTitle" value="解析失败" />
    <add key="ShowPage" value="1" />
    <add key="BeginIndex" value="1" />
    <add key="UniteLine" value="True" />
    <add key="WrapSplit" value=" " />
    <add key="KeepFormat" value="False" />
    <add key="SavedDoType" value="Dialog" />
    <add key="MergeTab" value="True" />
    <add key="BuildTab" value="True" />
  </appSettings>
</configuration>